<!DOCTYPE HTML>
<html>

<head>
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
    <div class="container">
        <img class="item" src="img/1.jpg" alt="broasted-1" style="width: 240px; height: 180px;" />
        <img class="item" src="img/2.jpg" alt="broasted-2" style="width: 240px; height: 180px;" />
        <img class="item" src="img/3.jpg" alt="broasted-3" style="width: 240px; height: 180px;" />
        <img class="item" src="img/4.jpg" alt="broasted-4" style="width: 240px; height: 180px;" />
        <img class="item" src="img/5.jpg" alt="broasted-5" style="width: 240px; height: 180px;" />
        <img class="item" src="img/6.jpg" alt="broasted-6" style="width: 240px; height: 180px;" />
    </div>
</body>

</html>